<div class="container">
  <div class="jumbotron">
    <form (ngSubmit)='buscarImagenes()'>
      <div class="row">
        <div class="col-lg-8">
          <input  type="text" class="form-control form-control-lg"
                  placeholder="Buscar una imagen"
                  name="img"
                  [(ngModel)]='nombreImagen'>
        </div>
        <div class="col-lg-4 d-grid">
            <button type="submit" class="btn btn-primary mobile-space" >Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>
